<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Chess Server</title>

    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/piece/alpha.css">
    <link rel="stylesheet" href="static/piece/merida.css">

    <script src="static/js/socket.io.min.js?ver=1552224886"></script>

    <script src="static/js/utils.js?ver=1552907403"></script>
    <script src="static/js/dom.js?ver=1552907625"></script>    
    <script src="static/js/conn.js?ver=1552919073"></script>    

</head>

<body>

    <div id="root"></div>

    <script src="static/js/main.js?ver=1552893042"></script>

</body>

</html>