<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Chess Server</title>

    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/piece/alpha.css">
    <link rel="stylesheet" href="static/piece/merida.css">
    <link rel="stylesheet" href="static/css/markdown.css">

    <script src="static/js/socket.io.min.js?ver=1552224886"></script>
    <script src="static/js/showdown.min.js?ver=1513938387"></script>

    <script src="static/js/utils.js?ver=1553159535"></script>
    <script src="static/js/dom.js?ver=1553498082"></script>    
    <script src="static/js/conn.js?ver=1553419355"></script>    

</head>

<body>

    <div id="root"></div>

    <script src="static/js/main.js?ver=1553419240"></script>

</body>

</html>